name: Test CI

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - run: ./check.sh

  test-ios:
    name: Test iOS
    runs-on: macos-latest
    needs: checks

    steps:
      - name: List all simulators
        run: "xcrun xctrace list devices"
      - name: Start simulator
        run: |
          UDID=$(xcrun xctrace list devices | grep "^iPhone 15 Simulator (18.1)" | awk '{gsub(/[()]/,""); print $NF}')
          echo $UDID
          xcrun simctl boot "${UDID:?No Simulator with this name found}"
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: stable

      - run: ./gen_i10n.sh
      - run: flutter test integration_test --timeout 2x
